body {
  font-family: sans-serif;
  margin: 0;
  background: #fafafa;
  color: #222;
}

header {
  background: #232f3e;
  color: white;
  padding: 1rem;
  text-align: center;
}

#loading-products,
#error-section {
  display: none;
  padding: 1rem;
}

#products {
  padding: 1rem;
}

#products h1 {
  text-align: center;
}

div.categories {
  display: flex;
}

.product-card {
  text-align: center;
  border: 1px solid #d3d9e2;
  display: flex;
  flex-direction: column;
  flex: 0 1 calc(25% - 16px);
  max-width: calc(25% - 16px);
  background: #e2e5e8;
  padding-top: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  /* background: #d3d9e2; */
  cursor: pointer;
  transform: scale(1.05);
}

.product-info {
  margin-top: auto;
  padding: 0 8px;
}

p.modal-product-price,
.product-info {
  font-size: 20px;
  font-weight: 600;
}

img.product-img,
.product-modal-body img {
  aspect-ratio: 4/3;
  object-fit: contain;
  padding: 0 8px;
}

.product-card * {
  display: block;
}

div.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
